@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Nunito Sans', sans-serif;
}

.course_bg {
  background-image: url('../public/course_slider.png');
}


.image-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /* Adjust the alpha value to control the level of dimming */
  z-index: 1;
}

/* 
.nunito-font {
  font-family: 'Nunito Sans', sans-serif;
}

.hind {
  font-family: 'Hind', sans-serif;
}

.montserrat {
  font-family: 'Montserrat', sans-serif;
} */